body{
    margin:0;
    background-color:#056679;
    font-family: sans-serif;
}
.todoapp-container{
    width:350px;
    /*position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);*/
    text-align: center;
    margin:auto;
    margin-top:30px;
}
h1{
    margin:0;
    margin-bottom: 15px;
    color:#0c7588;
}
.input-section{
    background-color: #055565;
    padding:18px;
    border-radius:10px;
    box-shadow: 0 6px 6px #16161666;
}
.input-section input{
    border-radius: 5px;
    border:1px solid #106879;
    width:100%;
    padding: 10px;
    box-sizing: border-box;
    background-color:#055565;
    outline: none;
    color:#08869e;
}
input::placeholder{
    color:#08869e;
}
ul{  
    text-align: left;
    padding: 0;
}
ul li{
    list-style: none;
    background-color:#055565;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    color:#08869e;
    box-shadow: 0 4px 6px #00000066;
    display: flex;
}
ul li i{
text-align: right;
flex:1;
cursor:pointer;
}